.accordion {
  width:150px;
  height:500px;
  border-spacing:5px;
  border-width:1px;
  border-style:solid;
  border-color:black;
  background:gray;
}

.accordionTitle {
  vertical-align: top;
  padding-top: 15px;
  text-valign: center;
  text-align: center;
  width:150px;
  height:200px;
  color:white;
  font-size:22px;
  font-weight: bold;
  background:black;
  opacity: .99;
}

.accordionRow {
  padding-top: 5px;
  text-align: center;
  width:150px;
  height:40px;
  color:white;
  font-size:18px;
  font-weight: bold;
  background:green;
  opacity: .99;
}

.accordionProduct {
  text-align: center;
  color:white;
  font-size:14px;
  font-weight: bold;
  background:green;
  opacity: .99;
}

.accordionLink {
  text-decoration: none;
  color:white;
}

