
.dojoHtmlFisheyeListBar {
  cursor:pointer;
  margin: 0;
  width: 300px;
  text-align: right;
}

.outerbar {
  background-color: white;
  text-align: left;
  width: 300px;
}

.editText {
 height:25;
 font-size:18px;
 font-weight: bold;
 font-family: Arial;
 background: #FFCC33
}

.plainText {
  height:35;
  font-size:22px;
  font-weight: bold;
  font-family: Arial
}

.smallText {
  height:15;
  font-size:13px;
  font-weight: bold;
  font-family: Arial
}

.banner {
  height:55;
  font-size:55;
  font-weight: bold;
  font-family: Arial
}

.category {
  height:55;
  cursor:pointer;
  font-size:22px;
  font-weight: bold;
  font-family: Arial
}

.category:hover {
  background: #7A8AFF;
  color: #FFFAFA;
}

.popupItem {
  background: #FFFAFA;
  color: #000000;
  text-decoration: none;
  font-size: 1.2em;
}

.item {
  color: black;
  text-decoration: none;
  font-size: 1.0em;
}

.itemName {
  color: black;
  text-decoration: none;
  font-size: 1.4em;
}

.cartCheckout {
  color: white;
  cursor:pointer;
  text-decoration: underline;
  font-size: .8em;
}

.purchaseItem {
  color: blue;
  cursor:pointer;
  text-decoration: underline;
  font-size: 1.0em;
}

.valueListNavigate {
  color: blue;
  cursor:pointer;
  text-decoration: underline;
  font-size: 1.2em;
}


.cartValueListNavigate {
  color: blue;
  cursor:pointer;
  text-decoration: underline;
  font-size: .8em;
}


.cartItem {
  color: black;
  text-decoration: none;
  font-size: 1.2em;
}

.cartItem {
  background: white;
  color: black;
  text-decoration: none;
  font-size: 1.0em;
}

.removeItem {
  color: blue;
  cursor:pointer;
  text-decoration: underline;
  font-size: 1.0em;
}

.cartTotal {
  color: white;
  text-decoration: none;
  font-size: 1.0em;
}

.progressItem {
  color: black;
  text-decoration: none;
  font-size: 1.4em;
}

.cartHeader {
  color: white;
  text-decoration: none;
  font-size: 1.4em;
}

.accountBody {
  color: black;
  text-decoration: none;
  font-size: 1.4em;
}

.creditCard {
  position: absolute;
  visibility: hidden;
  z-index:2;
  top:0px;
  left:0px;
  border-width:2px;
  border-style:solid;
  border-color:black;
}

.creditCardTable {
  background:white;
  width:500;
  height:300;
  padding:0;
  border-spacing: 0;
  border-width:1px;
  border-style:solid;
  border-color:black;
}


.signin {
  top:0px;
  left:0px;
  z-index:2;
  position: absolute;
  visibility: hidden;
  background:gray;
  padding:0;
  border-spacing: 0;
  border-width:2px;
  border-style:solid;
  border-color:black;
}

.cart {
  top:0px;
  left:0px;
  background:black;
  width:225;
  height:200;
  padding:0;
  border-spacing: 0;
  border-width:1px;
  border-style:solid;
  border-color:black;
}

.account {
  top:0px;
  left:0px;
  z-index:2;
  position: absolute;
  visibility: hidden;
  background: white;
  width:500;
  height:370;
  padding:0;
  border-spacing: 0;
  border-width:2px;
  border-style:solid;
  border-color:black;
}

.accountTable {
  background:gray;
  width:300;
  height:200;
  padding:0;
  border-spacing: 0;
}

.accountHeader {
  color: white;
  background: gray;
  text-decoration: none;
  font-size: 1.4em;
}

.menuItem {
  background: gray;
  color: white;
  text-decoration: none;
  font-size: 1.4em;
}

.menuLink {
  background: gray;
  cursor:pointer;
  color: white;
  text-decoration: underline;
  font-size: 1.2em;
}

.popupTable {
  padding:0;
  border-spacing: 0;
  border-width:1px;
  border-style:solid;
  border-color:black;
}

.popupRowHover {
  color: #FFFAFA;
  cursor:pointer;
  padding-left:3;
  padding-right:3;
  border-spacing: 0;
  border-width:0px;
  background: #7A8AFF;
}

.popupRow {
  padding-left:3;
  padding-right:3;
  border-spacing: 0;
  border-width:0px;
  background: #FFFAFA;
}

.sliderTable {
  padding:0;
  border-spacing: 0;
  border-width:0px;
  background: white;
}

.innerSlider {
  position:absolute;
  width:130;
  height:120;
  overflow:hidden;
  background-color:#ffffff
}

.shadow {
  top:0px;
  left:0px;
  position: absolute;
  visibility: hidden;
  width:0;
  height:0;
  z-index:0;
  background:gray;
  opacity: .5;
}

.slider {
  position:absolute;
  left:40;
  top:450;
  width:130;
  height:120;
  padding-left: 10;
  border-width:3px;
  border-style:solid;
  border-color:black;
  overflow:hidden;
  background-color:#ffffff
}

.progressbar {
  top:0px;
  left:0px;
  padding-left: 10;
  border-spacing: 0;
  position: absolute;
  visibility: hidden;
  z-index:10;
  width:422;
  height:90;
  background:white;
  border-width:2px;
  border-style:solid;
  border-color:black;
}