<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
        version="2.5" 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <display-name>Petstore</display-name>

  <servlet>
    <display-name>CatalogServlet</display-name>
    <servlet-name>CatalogServlet</servlet-name>
    <servlet-class>com.sun.javaee.blueprints.petstore.controller.CatalogServlet</servlet-class>

  </servlet>

  <servlet-mapping>
    <servlet-name>CatalogServlet</servlet-name>
    <url-pattern>/catalog</url-pattern>
  </servlet-mapping>

  <!--resource-ref>
    <res-ref-name>jdbc/PetstoreDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref-->

</web-app>

