<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>Petstore</display-name>
    <filter>
        <filter-name>CaptchaValidateFilter</filter-name>
        <filter-class>com.sun.javaee.blueprints.petstore.controller.CaptchaValidateFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CaptchaValidateFilter</filter-name>
        <url-pattern>/faces/dynamic/bpui_fileupload_handler/handleFileUpload</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>com.sun.javaee.blueprints.petstore.model.CatalogFacade</listener-class>
    </listener>
  
    <servlet>
        <display-name>CatalogServlet</display-name>
        <servlet-name>CatalogServlet</servlet-name>
        <servlet-class>com.sun.javaee.blueprints.petstore.controller.CatalogServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CaptchaServlet</servlet-name>
        <servlet-class>com.sun.javaee.blueprints.petstore.captcha.CaptchaServlet</servlet-class>
    </servlet>

    <servlet>
        <display-name>AccountServlet</display-name>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>com.sun.javaee.blueprints.petstore.controller.AccountServlet</servlet-class>
    </servlet>

    <servlet>
        <display-name>ControllerServlet</display-name>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>com.sun.javaee.blueprints.petstore.controller.ControllerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CatalogServlet</servlet-name>
        <url-pattern>/catalog</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>

    <servlet>
        <description>Checkout</description>
        <servlet-name>CheckoutServlet </servlet-name>
        <servlet-class>com.sun.javaee.blueprints.petstore.controller.CheckoutServlet</servlet-class>
    </servlet>
  
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>

    <servlet>
        <description>AutoCompletes Form Input using XmlHttpRequest Objects</description>
        <servlet-name> AutocompleteServlet </servlet-name>
        <servlet-class>com.sun.javaee.blueprints.petstore.controller.AutocompleteServlet</servlet-class>
    </servlet>
  
    <servlet-mapping>
        <servlet-name>AutocompleteServlet</servlet-name>
        <url-pattern>/autocomplete</url-pattern>
    </servlet-mapping>
  
    <servlet>
        <description>Chat Servlet</description>
        <servlet-name>ChatServlet</servlet-name>
        <servlet-class>com.sun.javaee.blueprints.petstore.controller.ChatServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChatServlet</servlet-name>
        <url-pattern>/chat</url-pattern>
    </servlet-mapping>

    <servlet>
        <description>Persistence Test Servlet</description>
        <servlet-name>PersistenceTestServlet</servlet-name>
        <servlet-class>com.sun.javaee.blueprints.petstore.controller.PersistenceTestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PersistenceTestServlet</servlet-name>
        <url-pattern>/persistencetest/*</url-pattern>
    </servlet-mapping>

    <context-param>
        <description>
            Google Maps authorization key for "http://localhost:8080/"
            To use a another URL a new map key will have to be generated from http://www.google.com/apis/maps/
        </description>
        <param-name>com.sun.j2ee.blueprints.ui.mapviewer.KEY</param-name>
        <param-value>ABQIAAAAyQYKk4__l80DyIsqLPvvuxTwM0brOpm-All5BF6PoaKBxRWWERSt2NPUufvDhWGdrb-pCzTZQ2vi2A</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>
    </context-param>

    <context-param>
        <param-name>com.sun.faces.validateXml</param-name>
        <param-value>false</param-value>
    </context-param>
    
    <context-param>
        <param-name>javax.faces.CONFIG_FILES</param-name>
        <param-value>/WEB-INF/faces-config.xml</param-value>
    </context-param>

    <context-param>
        <param-name>com.sun.faces.verifyObjects</param-name>
        <param-value>true</param-value>
    </context-param>
    
    <!-- proxy host, port for RSS Reader -->
    <!--
    <context-param>
        <param-name>proxyHost</param-name>
        <param-value>129.158.31.48</param-value>
    </context-param>
    <context-param>
        <param-name>proxyPort</param-name>
        <param-value>8080</param-value>
    </context-param>
    -->

    <!-- Faces Servlet -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup> 1 </load-on-startup>
    </servlet>

    <!-- Faces Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    
    <!-- need datasource for indexing Lucene search engine -->
    <servlet-mapping>
        <servlet-name>CaptchaServlet</servlet-name>
        <url-pattern>/faces/CaptchaServlet</url-pattern>
    </servlet-mapping>
    <resource-ref>
        <res-ref-name>jdbc/PetstoreDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>   
</web-app>
