<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
        version="2.5" 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <display-name>Petstore</display-name>

  <listener>
   <listener-class>com.sun.javaee.blueprints.petstore.model.CatalogFacade</listener-class>
  </listener>
  
  
  <servlet>
    <display-name>CatalogServlet</display-name>
    <servlet-name>CatalogServlet</servlet-name>
    <servlet-class>com.sun.javaee.blueprints.petstore.controller.CatalogServlet</servlet-class>

  </servlet>

  <servlet-mapping>
    <servlet-name>CatalogServlet</servlet-name>
    <url-pattern>/catalog</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>ControllerServlet</display-name>
    <servlet-name>ControllerServlet</servlet-name>
    <servlet-class>com.sun.javaee.blueprints.petstore.controller.ControllerServlet</servlet-class>

  </servlet>

  <servlet-mapping>
    <servlet-name>ControllerServlet</servlet-name>
    <url-pattern>/controller</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>AccountServlet</display-name>
    <servlet-name>AccountServlet</servlet-name>
    <servlet-class>com.sun.javaee.blueprints.petstore.controller.AccountServlet</servlet-class>

  </servlet>

  <servlet-mapping>
    <servlet-name>AccountServlet</servlet-name>
    <url-pattern>/account</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>Checkout</description>
    <servlet-name>CheckoutServlet </servlet-name>
    <servlet-class>com.sun.javaee.blueprints.petstore.controller.CheckoutServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>CheckoutServlet</servlet-name>
    <url-pattern>/checkout</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>AutoCompletes Form Input using XmlHttpRequest Objects</description>
    <servlet-name> AutocompleteServlet </servlet-name>
    <servlet-class>com.sun.javaee.blueprints.petstore.controller.AutocompleteServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>AutocompleteServlet</servlet-name>
    <url-pattern>/autocomplete</url-pattern>
  </servlet-mapping>
  
 <servlet>
    <description>Chat Servlet</description>
    <servlet-name>ChatServlet</servlet-name>
    <servlet-class>com.sun.javaee.blueprints.petstore.controller.ChatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatServlet</servlet-name>
    <url-pattern>/chat</url-pattern>
  </servlet-mapping>

</web-app>

